  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  .alinhaForm{
	padding:30px;
  }
  
  .game{
	  width:300px;
	  height:500px;
  }
  
  